[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fiftyone-pipeline-core = {editable = true, path = "./fiftyone_pipeline_core"}
fiftyone-pipeline-cloudrequestengine = {editable = true, editable = true, path = "./fiftyone_pipeline_cloudrequestengine"}
fiftyone-pipeline-engines = {editable = true, path = "./fiftyone_pipeline_engines"}
fiftyone-pipeline-devicedetection = {editable = true, path = "./fiftyone_pipeline_devicedetection"}
fiftyone-pipeline-location = {editable = true, path = "./fiftyone_pipeline_location"}

[requires]
python_version = "3.8"
